body {
    background: linear-gradient(0deg, #a96db0 0%, #a671ad 25%, #171717 100%);
    cursor: url("../images/Flaxcursor.png"), auto;
}

h1 {
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    font-size: 48px;
}

backtext {
    color: #fff;
}

p {
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

button {
    margin: 100px auto;
    
    width: 275px;
    height: 45px;
    
    font-size: 15.5px;
    font-style: italic;
}

/* Container styles | Lmao this sucks
.container {
  display: table-cell;
  vertical-align: bottom;
  width: 400px;
  height: 300px;
  background-color: #f0f0f0;
  padding: 10px;
}
